{% extends 'base.html.twig' %}

{% block body%}

    {% if is_granted('ROLE_ADMIN') %}
    <a class="btn btn-primary" href='show'>Create Album</a>
    {% endif %}
    <div class="container">

        <h1 class="text-center">Albums</h1>
        <div class="row justify-content-center">

            {% for listAlbum in listAlbum %}

                {% include 'Reusable Component/albumCard.html.twig' with {'title': listAlbum.getAlbumName(), 'content1': 'by', 'content2': listAlbum.getArtist(), 'content3': listAlbum.getGenre(), 'listAlbum': listAlbum } only %}
            {% endfor %}
        </div>
    </div>



{% endblock %}